.spacer { margin-top: 20px; }
body {
    padding-top: 60px;
    background: url("../img/rough_diagonal.png") repeat;
}
.row-bottom {
    display: table-cell;
    vertical-align: bottom;
    float: none;
    text-align: center;
}

.popup {
    height: 30%;
    width: 60%;
    position: fixed;
    top: 20%;
    left: 15%;
}
.hidden {
    visibility: hidden;
}