@main("Welcome to Hope") {

<div class="container">

    <h1>What can I do today to change the world ?</h1>
    <div class="row spacer">
        <div class="span4"><a class="brand" href="@routes.Application.vision()"><img src="http://freehugscampaign.org/images/freehug.jpg" class="img-polaroid"/><br/><button type="button" class="btn">130 <i class="icon-camera"></i></button></a></div>
        <div class="span4"><img src="http://internetetopinion.files.wordpress.com/2010/04/kitkat.jpg" class="img-polaroid"/><br/><button type="button" class="btn">10 <i class="icon-camera"></i></button></div>
        <div class="span4"><img src="http://static.ladepeche.fr/content/media/image/zoom/2011/04/14/201104141475.jpg" class="img-polaroid"/><br/><button type="button" class="btn">30 <i class="icon-camera"></i></button></div>
    </div>
    <div class="row spacer">
        <div class="span4"><img src="https://blogs.civicus.org/worldassembly/files/2012/07/L32_Reboisement2.jpg" class="img-polaroid"/><br/><button type="button" class="btn">30 <i class="icon-camera"></i></button></div>
        <div class="span4"><img src="http://www.cos-asso.org/sites/default/files/ckeditor/bordeaux/villa_pia_action_eco_citoyenne.jpg" class="img-polaroid"/><br/><button type="button" class="btn">30 <i class="icon-camera"></i></button></div>
        <div class="span4"><img src="http://1.im6.fr/photo/01A9010F05283016-photo-engrais.jpg" class="img-polaroid"/><br/><button type="button" class="btn">30 <i class="icon-camera"></i></button></div>
    </div>
</div>
}
