@main("Details of a vision") {

<div class="container">

    <h1>Vision : How to be happy in society ?</h1>
    <div class="row spacer">
        <div class="span8"><iframe width="560" height="315" src="//www.youtube.com/embed/vr3x_RRJdd4" frameborder="0" allowfullscreen></iframe></div>
        <div class="span4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.</div>
    </div>
    <h2>What you can do : made free hugs</h2>
    <div class="row spacer">
        <div class="span4"><img src="http://freehugscampaign.org/images/freehug.jpg" class="img-polaroid"/></div>
        <div class="span4"><img src="https://blogdemissbavarde.files.wordpress.com/2012/01/free-hugs.jpg" class="img-polaroid"/></div>
        <div class="span4"><img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Group_'FREE_HUGS'%3B_Tokyo.jpg" class="img-polaroid"/></div>
    </div>
    <div class="row spacer">
        <div class="span4"><img src="http://punkartoon.free.fr/1ma935punkartblog/free_hugs_tours.jpg" class="img-polaroid"/></div>
        <div class="span4"><img src="http://www.ledauphine.com/fr/images/D4E3C1E2-850E-4C73-A14A-BEA87F8FADE0/LDL_06/free-hugs-dans-les-rues-de-chambery-ce-4-juin-2011.jpg" class="img-polaroid"/></div>
        <div class="span4"><img src="https://farm1.static.flickr.com/130/324273662_60beadd68b.jpg" class="img-polaroid"/></div>
    </div>
</div>
}
